@import 'media-queries';

.wrapper
{
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10px;

    @include xs {
        width: 100%;
    }

    @include sm {
        width: 95%;
    }

    @include md {
        width: 95%;
    }

    @include lg {
        width:90%;
    }
}